h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

h4 {
	color: grey;
}

.jumbotron {
    background-color: #3399ff;
}

.glyphicon-list-alt {
    margin-top: 20px;
    margin-left: 40px;
    float: left;
    font-size: 60px;
}

.search-section {
    border: 5px solid black;
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}